Source: phpredisadmin
Section: web
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/erikdubbelboer/phpRedisAdmin

Package: phpredisadmin
Architecture: all
Depends: ${misc:Depends},
         libapache2-mod-php | php-cgi | php-fpm | php | libapache2-mod-php5 | libapache2-mod-php5filter | php5-cgi | php5-fpm | php5
Description: Simple web interface to manage Redis databases.
