#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DH_VERBOSE = 1

%:
	dh $@

override_dh_fixperms:
	dh_fixperms --exclude rtail/cli/rtail-client.js --exclude rtail/cli/rtail-server.js
