Source: exa
Section: utils
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9), libhttp-parser2.1
Standards-Version: 3.9.8
Homepage: https://the.exa.website/

Package: exa
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Modern replacement for ls
 Uses colours for information by default, helping you distinguish between many
 types of files, such as whether you are the owner, or in the owning group.
 It also has extra features not present in the original ls, such as viewing the
 Git status for a directory, or recursing into directories with a tree view.
 exa is written in Rust, so it’s small, fast, and portable.
