Source: splitsh-lite
Section: vcs
Priority: extra
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.8
Homepage: https://github.com/splitsh/lite

Package: splitsh-lite
Architecture: amd64
Depends: ${misc:Depends}
Description: Split your monorepo into many repos
 Monolithic Repositories to Many Repositories made easy tl;dr: splitsh-lite
 is a replacement for the subtree split Git built-in command that is much
 faster and has more features at the same time.
