Source: phantomjs
Section: utils
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9),
               libfontconfig
Standards-Version: 3.9.8
Homepage: http://phantomjs.org/

Package: phantomjs
Architecture: amd64
Depends: ${misc:Depends},
         ${shlibs:Depends},
         lsb-base (>= 3.2-14),
         libfontconfig
Description: Scriptable Headless WebKit
 PhantomJS is a headless WebKit scriptable with JavaScript
