Source: mongo-express
Section: utils
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9),
               nodejs
Standards-Version: 3.9.8
Homepage: https://github.com/mongo-express/mongo-express

Package: mongo-express
Architecture: all
Depends: ${misc:Depends},
         nodejs,
         lsb-base (>= 3.0-6)
Description: Web-based MongoDB admin interface, written with Node.js and express
 Web-based MongoDB admin interface, written with Node.js and express
