#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DH_VERBOSE = 1

%:
	dh $@ --with=systemd

override_dh_installinit:
	dh_installinit --name=sensu-backend

# Only cleanup on purge,# don't enable service by default.
override_dh_systemd_enable:
	dh_systemd_enable --no-enable

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade
