Source: vault
Section: utils
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)
Standards-Version: 3.9.8
Homepage: https://www.vaultproject.io/

Package: vault
Architecture: amd64
Depends: ${misc:Depends},
         lsb-base (>= 3.2-14),
         adduser
Description: Secrets management, encryption as a service, and privileged access management
 Vault is a tool for securely accessing secrets. A secret is anything that you
 want to tightly control access to, such as API keys, passwords, certificates,
 and more. Vault provides a unified interface to any secret, while providing
 tight access control and recording a detailed audit log.
