Source: node-rtail
Section: utils
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9),
               nodejs
Standards-Version: 3.9.8
Homepage: http://rtail.org/

Package: node-rtail
Architecture: all
Depends: ${misc:Depends},
         lsb-base (>= 3.2-14),
         nodejs
Description: Terminal output to the browser in seconds, using UNIX pipes
 rtail is a command line utility that grabs every line in stdin and broadcasts
 it over UDP. That's it. Nothing fancy. Nothing complicated. Tail log files,
 app output, or whatever you wish, using rtail broadcasting to an rtail-server
 See multiple streams in the browser, in realtime.
