Source: hugo
Section: utils
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.8
Homepage: https://gohugo.io/

Package: hugo
Architecture: amd64
Depends: ${misc:Depends}
Description: Fast and Flexible Static Site Generator built with love in GoLang
 Hugo is a static HTML and CSS website generator written in Go. It is optimized
 for speed, easy use and configurability. Hugo takes a directory with content
 and templates and renders them into a full HTML website.
