Source: mongo-express
Section: utils
Priority: optional
Maintainer: Manala <contact@manala.io>
Build-Depends: debhelper (>= 9),
               nodejs
Standards-Version: 3.9.8
Homepage: https://github.com/mongo-express/mongo-express

Package: mongo-express
Replaces: node-mongo-express
Breaks: node-mongo-express
Provides: node-mongo-express
Architecture: all
Depends: ${misc:Depends},
         lsb-base (>= 3.2-14),
         nodejs
Description: Web-based MongoDB admin interface written with Node.js, Express and Bootstrap3
 Mongo Express is a web-based MongoDB admin interface written with Node.js,
 Express and Bootstrap3
